@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container mt-4">


    @* Card Hub *@

    <!--
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn "><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn  mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->



    <div id="myBtnContainer">
        <button class="btn active" onclick="filterSelection('all')"> Todos</button>
        <button class="btn" onclick="filterSelection('vue')"> Vue</button>
        <button class="btn" onclick="filterSelection('react')"> React</button>
        <button class="btn" onclick="filterSelection('angular')"> Angular</button>
    </div>


    <!-- Portfolio Gallery Grid -->
    <div class="row">
        <div class="column col-md-4 vue">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vue</h5><!--Card title-->
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-md-4 vue">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vue</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-md-4 react">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">React</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column col-md-4 react">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">React</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-md-4 react">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">React</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="column col-md-4 angular">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column col-md-4 angular">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column col-md-4 angular">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column col-md-4 angular">
            <div class="content">
                <div class="card" style="width: 18rem;">
                    <img src="https://i.imgur.com/ZTkt4I5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Angular</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn mr-2"><i class="fas fa-link"></i> Visit Site</a>
                        <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- END GRID -->
    </div>



    <style>
        #myBtnContainer {
            text-align: center;
        }
        /* Center website */
        .row {
            margin: 8px -16px;
        }

        /* Add padding BETWEEN each column (if you want)
            .row,
            .row > .column {
                padding: 8px;
            }

        /* Create three equal columns that floats next to each other  */
        .column {
            float: left;
            width: 100%;
            display: none; /* Hide columns by default */
        }

        /* Clear floats after rows   */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        /* Content */
        .content {
            padding: 10px;
        }

        /* The "show" class is added to the filtered elements */
        .show {
            display: block;
        }

        /* Style the buttons */
        .corpo .btn {
            border: none;
            outline: none;
            padding: 12px 16px;
            background-color: white;
            cursor: pointer;
        }

            /* Add a grey background color on mouse-over */
            .corpo .btn:hover {
                background-color: #dedede;
            }

            /* Add a dark background color to the active button */
            .corpo .btn.active {
                background-color: #0505a3;
                color: white;
            }
    </style>



    <script>
        filterSelection("all") // Execute the function and show all columns
        function filterSelection(c) {
            var x, i;
            x = document.getElementsByClassName("column");
            if (c == "all") c = "";
            // Add the "show" class (display:block) to the filtered elements, and remove the "show" class from the elements that are not selected
            for (i = 0; i < x.length; i++) {
                w3RemoveClass(x[i], "show");
                if (x[i].className.indexOf(c) > -1) w3AddClass(x[i], "show");
            }
        }

        // Show filtered elements
        function w3AddClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                if (arr1.indexOf(arr2[i]) == -1) {
                    element.className += " " + arr2[i];
                }
            }
        }

        // Hide elements that are not selected
        function w3RemoveClass(element, name) {
            var i, arr1, arr2;
            arr1 = element.className.split(" ");
            arr2 = name.split(" ");
            for (i = 0; i < arr2.length; i++) {
                while (arr1.indexOf(arr2[i]) > -1) {
                    arr1.splice(arr1.indexOf(arr2[i]), 1);
                }
            }
            element.className = arr1.join(" ");
        }

        // Add active class to the current button (highlight it)
        var btnContainer = document.getElementById("myBtnContainer");
        var btns = btnContainer.getElementsByClassName("btn");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>

    <script src="~/lib/infinityscroll/infinityscroll.js"></script>

   